* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-1: #000;
  --bg-2: #050505;
  --white: #fff;
  --shadow: rgba(247, 232, 247, 1);
}

body {
  background: var(--bg-1);
  color: var(--white);
}

body,
input,
select,
textarea,
table,
button {
  font-size: 1.6rem;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 1.2rem;
  padding: 2.4rem 1.6rem;

  background: var(--bg-2);
  box-shadow: 0rem 0.6rem 1.6rem 0.1rem var(--shadow);
}

form {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

h1,
h2 {
  text-align: center;
}

h2 {
  margin: 3.6rem 0;
}

form label {
  margin-left: 0.8rem;
}

input {
  width: 100%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input,
button {
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 1.2rem;
}

form button,
#openElo {
  font-weight: bold;
  color: var(--bg-2);
  transition: all 0.4s ease-in-out;
}

form button:hover,
#openElo:hover {
  background: var(--shadow);
}

.resultOf.open,
.rankOf.open {
  visibility: visible;
  opacity: 1;
}

.resultOf,
.rankOf {
  position: absolute;
  inset: 0;

  display: grid;
  place-items: center;

  opacity: 0;
  visibility: hidden;
}

.popup {
  max-width: 40rem;
}

.popup,
.table {
  position: relative;
}

#closeResult,
#closeElo {
  position: absolute;
  top: 1rem;
  right: 1rem;

  cursor: pointer;
  border: none;
  background: transparent;

  transition: transform 0.4s ease-in-out;
}

#closeResult:hover,
#closeElo:hover {
  transform: scale(1.1);
}

table {
  margin: 2.4rem 1.2rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.4rem;
}

table th {
  font-size: 2.2rem;
}
